* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container-banner {
  background-image: url("img/Capa/capa1.jpeg");
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
.container-banner h1 {
  line-height: 50vh;
  text-align: center;
  text-shadow: 5px 5px 2px black;
  font-size: 50px;
  color: yellow;
}
.container-introducao,
.container-jogadores,
.container-galeria {
  width: calc(100% - 100px);
  max-width: 1024px;
  text-align: justify;
  margin: 30px auto;
  padding-top: 15px;
}
.container-introducao h2 {
  font-size: 28px;
  padding: 30px 0;
}
.container-introducao p {
  padding: 10px 0;
  font-size: 18px;
}
.container-introducao span {
  color: #fece14;
  font-weight: bold;
}
.cards-jogadores {
  width: 100%;
  padding: 30px 5px;
  white-space: nowrap;
  overflow: auto;
  margin: 0 auto;
}
.cards-jogadores p {
  font-size: 18px;
}
.card1,
.card2,
.card3 {
  text-align: center;
  width: 35%;
  max-width: 250px;
  min-width: 200px;
  display: inline-block;
  background-color: #fece14;
  box-shadow: 0 0 20px 1px;
  border-radius: 20px;
  border: 1px solid black;
  margin: 10px 20px;
}
.jogador1 {
  background-image: url("img/Jogadores/Curry.jpg");
  background-position: center top;
  height: 25vh;
  width: 90%;
  margin: 0 auto;
}
.jogador2 {
  background-image: url("img/Jogadores/Jokic.webp");
  background-position: center top;
  background-size: cover;
  height: 25vh;
  width: 90%;
  margin: 0 auto;
}
.jogador3 {
  background-image: url("img/Jogadores/LeBron.jpg");
  background-position: center top;
  background-size: cover;
  height: 25vh;
  width: 90%;
  margin: 0 auto;
}

.container-imagem-banner {
  width: 100%;
  height: 30vh;
  background-image: url("img/Games/230208002315-01b-lebron-james-gallery-restricted.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center bottom;
}
.container-galeria h3 {
  font-size: 22px;
  padding: 15px 0;
}
.galeria {
  overflow: auto;
  white-space: nowrap;
}
.galeria img {
  width: 400px;
  height: 250px;
  margin: 0 5px;
}
